.navbar {
  height: 104px;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0 27px;
  justify-content: space-between;
}

.navbar__container {
  display: flex;
}

.navbar__items {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar__items-container {
  display: inline-flex;
  height: 100%;
}

.navbar__item-link {
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  height: 100%;
}

.navbar__item-link:hover {
  border-bottom: 3px solid #f9b342;
}

.link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  padding: 0 12px;
  color: #252525;
}

.link:visited {
  color: #252525;
}

.logo img {
  width: 188px;
  padding: 10px 0;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar__items {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 118px;
  }
}

.selected {
  font-weight: bold;
}

.sub-menu {
  padding: 1rem;
  position: absolute;
  top: 104px;
  background-color: #fff;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.navbar__item-link:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  border-radius: 0 0 5px 5px;
}

.sub-menu li {
  list-style: none;
  cursor: pointer;
  margin: 1rem 0;
}
