/*
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . .";
  align-items: first baseline;
  background: #f2f4f5;
}
*/

.container {
  display: flex;
  flex-wrap: wrap;
  background: #f2f4f5;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
