.footer {
  background-color: #161329;
}

.footer-widgets {
  display: flex;
  justify-content: space-evenly;
}

.footer-area {
  padding: 2rem;
  color: #fff;
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
  .footer-widgets {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.footer-area h3 {
  text-transform: uppercase;
}

.footer-area p {
  padding: 1rem 0;
}

.footer-area a {
  text-decoration: none;
  color: #f9b342;
  font-weight: 600;
}

.site-footer {
  background-color: #1f1c31;
  color: #82828b;
  padding: 1rem;
  text-align: center;
  font-size: 12px;
}
