.widget {
  font-size: 14px;
  line-height: 22px;
  color: #666;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px -2px 28px -17px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 2px -2px 28px -17px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px -2px 28px -17px rgba(0, 0, 0, 0.48);
  margin-bottom: 2rem;
}

.title h3 {
  font-size: 13px;
  letter-spacing: 0.075em;
  font-weight: 800;
  color: #1f1c31;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
}

.icon {
  float: left;
  margin-right: 1rem;
}

.link {
  font-size: 10px;
}
