.button {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 0.4rem;
  text-align: center;
  width: 34px;
  height: 34px;
  fill: #252525;
  cursor: pointer;
}

.button:hover {
  background-color: #f9b342;
  transition: 0.2s;
}

.button:hover svg path {
  fill: #f9b342;
  stroke: #fff;
  transition: 0.2s;
}

@media only screen and (max-width: 1000px) {
  .button {
    margin-right: 1rem;
  }
}

.language-label {
  padding: 0 0.2rem;
}

.sub-menu {
  padding: 1rem;
  position: absolute;
  top: 104px;
  background-color: #fff;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  right: 10px;
}

.language-switcher {
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
}

.language-switcher:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  border-radius: 0 0 5px 5px;
}

.sub-menu li {
  list-style: none;
  cursor: pointer;
  margin: 1rem 0;
}

.selected {
  font-weight: bold;
}
